h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 20px auto;
  width: 30%;
  border: black solid 1px;
  border-radius: 10px;
  padding: 20px;
}

.grid-container button {
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: white;
  display: inline-block;
  border: none;
  border-radius: 50%;
  width: 60%;
  height: 60px;
}

.circle-button {
  background-color: #c0bcc0;
  box-shadow: 0 4px #858484;
}

.circle-button-blue {
  background-color: #3498db;
  box-shadow: 0 4px #2980b9;
}

.circle-button-red {
  background-color: #db3434;
  box-shadow: 0 4px #b92929;
}
.circle-button-rose {
  background-color: #e962c9;
  box-shadow: 0 4px #b740a1;
}

.circle-button-green {
  background-color: #64e962;
  box-shadow: 0 4px #40b750;
}
.circle-button-purple {
  background-color: #9e58cc;
  box-shadow: 0 4px #833cab;
}

.circle-button-lightpurple {
  background-color: #c671ff;
  box-shadow: 0 4px #ab55dd;
}

.circle-button-yellow {
  background-color: #dbd034;
  box-shadow: 0 4px #b9a629;
}

.circle-button-orange {
  background-color: #db9034;
  box-shadow: 0 4px #b97f29;
}

.circle-button-brown {
  background-color: #a57f26;
  box-shadow: 0 4px #5d4112;
}

button:active {
  top: 4px;
  box-shadow: none;
}

.circle-button-blue:hover {
  background-color: #2980b9;
}

.circle-button-red:hover {
  background-color: #b92929;
}

.circle-button-rose:hover {
  background-color: #b740a1;
}
.circle-button-green:hover {
  background-color: #40b750;
}

.circle-button-purple:hover {
  background-color: #833cab;
}

.circle-button-lightpurple:hover {
  background-color: #ab55dd;
}

.circle-button-yellow:hover {
  background-color: #b9a129;
}

.circle-button-orange:hover {
  background-color: #b97f29;
}

.circle-button-brown:hover {
  background-color: #5d4112;
}

.circle-button:hover {
  background-color: #858484;
}

@media (max-width: 1400px) {
  .grid-container {
    width: 60%;
  }
}

@media (max-width: 800px) {

  .grid-container {
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: 0, 0, 0, 0;
  }
}

@media (max-width: 450px) {

  .grid-container {
    border: none;
    padding: 0;
    width: 99%;
    margin: 0, 0, 0, 0;
  }
}